# 서버 설정
NODE_ENV=development
SESSION_SECRET=your_session_secret

# 데이터베이스 설정
YOUDB_NAME=odevtube
YOUDB_USER=devuser
YOUDB_PASS=devpass
YOUDB_HOST=localhost

# YouTube 설정
YOUTUBE_API_KEY=your_youtube_api_key
YOUTUBE_GTAG=your_youtube_gtag
YOUTUBE_WCS=your_youtube_wcs
