h1 {
  color: #333;
  text-shadow: #888 1px 0 2px;
}
.videos {
  width: 100%;
  border: 1px solid #ccc;
}
.videos thead {
  background-color: #0ff3;
}
.videos td,
.videos th {
  height: 2.1rem;
  border-bottom: 1px solid #999;
  padding: 2px 5px 4px;
}
.channel {
  width: 20%;
}
.thumbnail {
  border-radius: 10px;
  border: 1px solid #888;
  border-top-color: #ccc;
  border-left-color: #ccc;
  height: 40px;
  width: auto;
  vertical-align: middle;
}
.date {
  width: 12%;
}
.datecell{
  font-family: cursive;
  text-align: center;
  font-weight: bold;
}
