body {
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 0.95rem;
  margin: 0;
  padding: 3.1em 10%;
}

h1 {
  position: fixed;
  top: 0;
  margin-top: 0;
  left: 10%;
  width: 100%;
  background-color: #fffd;
  color: #fff;
  z-index: 1000;
  font-size: 2.2rem;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 10px;
}

li {
  background-color: #f4f4f4;
  border: 1px solid #ddd;
  border-radius: 3%;
  padding: 6px 10px 10px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}

img {
  width: 100%;
  height: auto;
  border-radius: 6.5%;
}

a {
  color: #333;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#keyword {
  margin: 6px 0;
}

.ad {
  background-color: #fcebebee;
  padding: 10px 0 20px;
  position: fixed;
  bottom: 0;
  width: 80%;
}

.top {
  position: fixed;
  right: 1.5rem;
  bottom: 1.5rem;
  padding: 10px;
  border-radius: 45%;
}

.github-logo {
  width: 2.3em;
}

.okdevtv-logo {
  width: 1.3em;
  vertical-align: bottom;
}

.github {
  position: fixed;
  top: 0;
  right: 10px;
  width: 90px;
  height: 30px;
  background-color: #f9f9f940;
  padding: 10px;
  z-index: 1001;
}

#count {
  margin-left: 20px;
}

.channel {
  margin-bottom: 6px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  height: 1.2em;
}

.profile {
  width: 16px;
  vertical-align: bottom;
}

.channame {
  font-size: 0.9em;
  font-weight: 800;
}

#buymac img {
  height: 3.4rem;
}
