@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css');

body {
  font-family: 'Pretendard SemiBold', 'Arial', sans-serif;
  margin: 0;
}

h1 {
  position: fixed;
  top: 0;
  margin-top: 0;
  left: 0;
  width: 100%;
  background-color: #fffd;
  color: #fff;
  z-index: 10;
}

ul {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(40%, 1fr));
}

li {
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  position: relative;
  margin: 0.6rem 0.1rem;
  min-height: 12rem;
  padding: 0.2rem 0.1rem 1.4rem;
}

img {
  width: 100%;
  height: auto;
  border-radius: 6.5%;
}

a {
  color: #333;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.outlink {
  width: 0.8rem;
}

#keyword {
  margin: 6px 0;
}

.ad {
  display: none;
  position: fixed;
  bottom: 0;
}

.top {
  position: fixed;
  right: 1.5rem;
  bottom: 1.5rem;
  padding: 10px;
  border-radius: 45%;
}

#login-page {
  margin: auto;
  text-align: center;
  width: 30rem;
}

.github {
  position: fixed;
  top: 0;
  right: 0.3rem;
  z-index: 100;
}

.github-logo {
  width: 2.3em;
}

.okdevtv-logo {
  width: 1.3em;
  vertical-align: bottom;
}

.main-nav {
  position: sticky;
  top: 2.5rem;
  background-color: #f9000020;
  padding: 0.4rem;
  text-align: right;
  z-index: 11;
}

#title {
  padding: 0.2rem;
}
.title {
  font-size: larger;
}

#count {
  margin-left: 20px;
}

.channel {
  margin-bottom: 6px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.channame {
  font-size: 1rem;
  font-weight: 400;
}

.profile {
  width: 1.2rem;
  vertical-align: bottom;
}

#list li a {
  overflow: hidden;
  overflow-wrap: break-word;
}

li button.transcript {
  display: block;
  position: absolute;
  bottom: 6px;
  right: 10px;
  padding: 4px;
  background-color: #fff6;
  border: 1px solid #ddd;
  border-radius: 0.3rem;
}

.modal {
  display: none;
  position: fixed;
  z-index: 20;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.clipboard-icon {
  position: absolute;
  right: 2rem;
}

.search {
  display: block;
  margin: 3.3rem auto 0.8rem;
  padding: 0.2rem;
}

.search #keyword {
  font-size: 1.2rem;
  width: 50%;
}

.search button {
  font-size: 1.2rem;
}

.search .hash-list {
  display: block;
}

.search .hash-list a {
  display: inline-block;
  margin-right: 5px;
}

/* Desktop styles */
@media only screen and (min-width: 992px) {
  body {
    font-size: large;
    padding: 3.1em 2.5rem;
  }

  .title {
    margin: 0;
    padding: 0.2rem 2.5rem;
  }

  .profile {
    width: 1.4rem;
    vertical-align: bottom;
  }

  .search {
    margin-bottom: 1rem;
    align-items: center;
  }

  .search #keyword {
    font-size: 1rem;
  }

  .search button {
    font-size: 1rem;
    margin-right: 10px;
  }

  #channelLink {
    height: 3rem;
    background-color: #fabe9833;
  }

  .search .hash-list {
    margin: 0.3rem 0.1rem 0.1rem 0.1rem;
  }

  .search .hash-list a {
    display: inline-block;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0 0.2rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    grid-gap: 10px;
  }

  li {
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    border-radius: 3%;
    padding: 6px 10px 10px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    position: relative;
    width: initial;
  }

  li a {
    font-size: medium;
  }

  .channame {
    font-size: 1.2rem;
    font-weight: 400;
  }

  .ad {
    display: block;
    background-color: #ccebebee;
    padding: 10px 2.5rem;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
  }
}

li button.share-twitter {
  display: block;
  position: absolute;
  bottom: 6px;
  right: 90px;
  background-color: #000000c0;
  color: white;
  border: none;
  border-radius: 0.3rem;
  padding: 3px 6px;
  cursor: pointer;
}

li button.share-twitter:hover {
  background-color: #0c85d0;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination a,
.pagination span {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color 0.3s;
  border: 1px solid #ddd;
  margin: 0 4px;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
}

.pagination .current {
  background-color: #4caf50;
  color: white;
  border: 1px solid #4caf50;
}
