@import url('https://cdn.jsdelivr.net/gh/rivercory/rivercory/font.css');

body {
  font-family: 'Pretendard SemiBold', 'Arial', sans-serif;
  margin: 0;
  padding: 3.1em 0.2rem;
}

h1 {
  position: fixed;
  top: 0;
  margin-top: 0;
  left: 0;
  width: 100%;
  background-color: #fffd;
  color: #fff;
  z-index: 10;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background-color: #f4f4f4;
  border: 1px solid #ddd;
  border-radius: 3%;
  display: inline-block;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  margin: 3px;
  padding: 6px 10px 4px;
  position: relative;
  text-align: initial;
  vertical-align: text-top;
  width: 40%;
}

img {
  width: 100%;
  height: auto;
  border-radius: 6.5%;
}

a {
  color: #333;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#keyword {
  margin: 6px 0;
}

.ad {
  display: none;
  position: fixed;
  bottom: 0;
}

.top {
  position: fixed;
  right: 1.5rem;
  bottom: 1.5rem;
  padding: 10px;
  border-radius: 45%;
}

#login-page {
  margin: auto;
  text-align: center;
  width: 30rem;
}

.github-logo {
  width: 2.3em;
}

.okdevtv-logo {
  width: 1.3em;
  vertical-align: bottom;
}

.github {
  position: fixed;
  top: 3.5rem;
  right: 0.5rem;
  height: 30px;
  background-color: #f9f9f940;
  z-index: 11;
}

.login {
  position: fixed;
  top: 0.8rem;
  right: 4.4rem;
  height: 30px;
  background-color: #f9f9f940;
  padding: 10px;
  z-index: 12;
}

#count {
  margin-left: 20px;
}

.channel {
  margin-bottom: 6px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.channame {
  font-size: 1rem;
  font-weight: 400;
}

.profile {
  width: 1.2rem;
  vertical-align: bottom;
}

#buymac img {
  height: 3.4rem;
}

.k {
  background-color: #fabe98;
}

section#title {
  margin: 4rem 0 0;
}

#list li a {
  overflow: hidden;
  overflow-wrap: break-word;
}

li button.transcript {
  display: block;
  position: absolute;
  bottom: 6px;
  right: 10px;
  background-color: #fff6;
  border: 1px solid #ddd;
  border-radius: 0.3rem;
}

.modal {
  display: none;
  position: fixed;
  z-index: 20;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.clipboard-icon {
  position: absolute;
  right: 2rem;
}

.search {
  display: block;
  margin-bottom: 1rem;
}

.search #keyword {
  font-size: 2rem;
  width: 100%;
}

.search button {
  font-size: 2rem;
}

.search .hash-list {
  display: block;
}

.search .hash-list a {
  display: inline-block;
  margin-right: 5px;
}

/* Desktop styles */
@media only screen and (min-width: 992px) {
  body {
    font-size: large;
    padding: 3.1em 2.5rem;
  }

  .title {
    padding: 0.5rem 2.5rem;
  }

  .profile {
    width: 1.4rem;
    vertical-align: bottom;
  }

  .search {
    margin-bottom: 1rem;
    align-items: center;
  }

  .search #keyword {
    font-size: 1rem;
  }

  .search button {
    font-size: 1rem;
    margin-right: 10px;
  }

  #channelLink {
    height: 3rem;
    background-color: #fabe9833;
  }

  .search .hash-list {
    margin: 0.3rem 0.1rem 0.1rem 0.1rem;
  }

  .search .hash-list a {
    display: inline-block;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0 0.2rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    grid-gap: 10px;
  }

  li {
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    border-radius: 3%;
    padding: 6px 10px 10px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    position: relative;
    width: initial;
  }

  li a {
    font-size: medium;
  }

  .channame {
    font-size: 1.2rem;
    font-weight: 400;
  }

  .ad {
    display: block;
    background-color: #ccebebee;
    padding: 10px 2.5rem;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
  }
}
