<!DOCTYPE html>
<html lang="ko">
  <head>
    <title>404 - Not Found</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/favicon/site.webmanifest">
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <section id="title">
      <h1 class="title">
        <a href="/">404 - Not Found</a>
      </h1>
    </section>
    <div style="padding: 2rem; text-align: center;">
      <p><%= message %></p>
      <p><a href="/">홈으로 돌아가기</a></p>
    </div>
  </body>
</html>
