<aside class="github">
  <span class="k"> | <a href="/drama" alt="drama">drama</a> |
    <a href="/food" alt="food">food</a> |</span>
  <a href="/" alt="korean">ko</a> |
  <a href="/en" alt="english">en</a>
  <a href="https://github.com/kenu/youtb" target="_blank">
    <img src="/images/github-mark.svg" class="github-logo" title="fork in github"></a>
</aside>
<div class="ad">
  <div class="ad-title" style="display: inline;">
    * <a href="https://inf.run/LPpDg" target="_blank" alt="VS Code에서 쉽게 사용하는 Git">VS Code에서 쉽게 사용하는 Git:
      https://inf.run/LPpDg</a>, <a href="https://www.udemy.com/course/git-vscode/?referralCode=B8C18816E4B041590CF7"
      target="_blank">Udemy</a>
    <br />
    * <a href="https://inf.run/Q7Ld1" target="_blank" alt="React + API Server 프로젝트 개발과 배포 (CI/CD)">React + API Server
      프로젝트 개발과 배포 (CI/CD): https://inf.run/Q7Ld1</a> - 50% 할인 쿠폰 코드: <code>15108-f2af1e086101</code>
  </div>
  <div id="mailing" style="display: inline;">
    <input type="email" placeholder="메일링 주소를 입력하세요" />
    <button onclick="subscribe()">subscribe</button>
  </div>
  <br />
  <div>
    <button class="top" onclick="window.scrollTo(0,0)">top</button>
  </div>
</div>
<div class="contact">
  * Contact: <a href="mailto:kenu@okdevtv.com">kenu@okdevtv.com</a>, OKdevTV: <a href="https://www.youtube.com/@KenuHeo"
    target="_blank" alt="OKdevTV">https://www.youtube.com/@KenuHeo</a>
</div>
