<aside class="github">
  <a href="/" alt="korean">ko</a> |
  <a href="/en" alt="english">en</a>
  <a href="https://github.com/kenu/youtb" target="_blank">
    <img src="/images/github-mark.svg" class="github-logo" title="fork in github"></a>
</aside>
