<!DOCTYPE html>
<html>

<% include ./header.ejs %>

<body>
  <section id="title">
    <h1 style="padding: 0.5rem">
      <a href="https://okdevtv.com/" alt="okdevtv">
        <img src="https://okdevtv.com/images/logo.webp" title="okdevtv" class="okdevtv-logo" />
      </a>
      <a href="javascript:window.scrollTo(0,0)">
        <%= title %>
      </a>
    </h1>
    <p>Welcome to <%= title %>
    </p>
  </section>
  <% include ./search.ejs %>
  <% if (uri === 'kpop' ) { %>
  <section style="background-color: #FABE98; margin-bottom: 2.2rem; padding: 0.45rem;">
    ➡️ <a href="https://www.youtube.com/playlist?list=PLQu3_HfiL3GQnaFfT7CAfrWMyhoWL7khJ" title="2022 교차편집 모음 (2022 Stage mix playlist)" style="padding-left: 1rem;">2022 교차편집 모음 (2022 Stage mix playlist)</a>
  </section>
  <% } %>
  <ul id="list">
    <% flist.forEach(video=> { %>
    <% include ./video.ejs %>
    <% }) %>
  </ul>
  <hr />
  <% include ./aside.ejs %>
  <hr />
  <hr />
  <hr />
  <hr />
</body>
<% include ./footer.ejs %>

</html>
