<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/css/style.css">
<div id="login-page">
  <a href="/login/github">
    <img src="/images/github-mark.svg" class="github-logo" title="login github">
    Log In with GitHub</a>
</div>
