<button class="menu-toggle">☰</button>

<nav class="sliding-menu">
  <a href="/">홈</a>
  <a href="/admin">비디오</a>
  <a href="/admin/channel">채널</a>
  <a href="/profile">프로필</a>
  <hr>
  <a href="/admin">Dev (KO)</a>
  <a href="/admin?c=dev&l=en">Dev (EN)</a>
  <a href="/admin?c=kpop">Kpop</a>
  <a href="/admin?c=food">Kfood</a>
</nav>
